<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'create_account.css' %}">
    <title>Create Account</title>
</head>
<body>
    <div class="create-account-container">
        <h2>Create Account</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="email">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="phonenumber">Phone Number</label>
                <input type="text" id="phonenumber" name="phonenumber" pattern = "[0-9]{10}" maxlength="10" required>
            </div>
            <div class="input-group1">
                <label for="gender">Gender</label>
                <select id="gender" name="gender" required>
                    <option value="">Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    {% comment %} <option value="other">Other</option> {% endcomment %}
                </select>
            </div>
            <div class="input-group">
                <label for="House_Number">House Number</label>
                <input type="text" id="House_Number" name="House_Number" required>
            </div>
            <div class="input-group">
                <label for="City">City</label>
                <input type="text" id="City" pattern="[A-Za-z\s]+" name="City" required>
            </div>
            <div class="input-group">
                <label for="Date of birth">Date of birth</label>
                <input type="date" id="DOB" name="DOB" required>
            </div>
            <div class="input-group">
                <label for="Pincode">Pincode</label>
                <input type="number" id="pin" name="pin" pattern="[0-9]{6}" required>
            </div>
            <button type="submit" class="create-account-btn">Create Account</button>
        </form>
    </div>

    <!-- Interactive elements -->
    <div class="interactive-elements">
        <div class="floating-shape floating-shape1"></div>
        <div class="floating-shape floating-shape2"></div>
        <div class="floating-shape floating-shape3"></div>
        <div class="floating-shape floating-shape4"></div>
    </div>
    {% if alert_message %}
    <script>alert("{{ alert_message }}");</script>
    {% endif %}

</body>
</html>
