<!-- login.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <title>Login Page</title>
</head>
<body>
    {% comment %} <form action='/login_view' method="post"> {% endcomment %}
    {% comment %} {% carf_token %} {% endcomment %}
    <div class="login-container">
        <img src="/static/padlock.jpg" alt="Padlock">
        <h2>Login</h2>
        <form action="" method="post">
            {% csrf_token %} <!-- CSRF token added here -->
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
    </div>
</body>
</html>
