<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <!-- Display user ID -->
    <p>User ID: <span id="user-id">{{ user_id }}</span></p>

    <!-- Display timer -->
    <p id="timer">Redirecting in <span id="countdown">10</span> seconds...</p>

    <script>
        // Timer function to update countdown and redirect after 10 seconds
        var countdown = 10; // Initial countdown value
        var timer = setInterval(function() {
            countdown--;
            document.getElementById('countdown').innerText = countdown; // Update countdown value
            if (countdown <= 0) {
                clearInterval(timer); // Stop the timer
                window.location.href = 'http://127.0.0.1:8000/'; // Redirect to login page
            }
        }, 1000); // Update countdown every 1 second (1000 milliseconds)
    </script>
</body>
</html>
